.tw-hide-scrollbar {
  -ms-osverflow-style: none;
  scrollbar-width: none;
}

.tw-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Change Autocomplete styles in Chrome*/

:-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.tw-input-base {
  box-sizing: border-box;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(226 226 226 / var(--tw-border-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tw-input-base:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #6E20BE;
}

.tw-input {
  box-sizing: border-box;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(226 226 226 / var(--tw-border-opacity));
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.tw-input:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: #6E20BE;
}

.tw-input {
  height: 68px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1.25rem;
}

.tw-input::-webkit-input-placeholder {
  font-weight: 600;
  color: #4D4D4D60;
}

.tw-input::placeholder {
  font-weight: 600;
  color: #4D4D4D60;
}

.tw-btn {
  max-height: 64px;
  cursor: pointer;
  border-radius: 9999px;
  border-style: none;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0px 5px 20px #00000024;
  --tw-shadow-colored: 0px 5px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-btn:disabled {
  pointer-events: none;
  --tw-bg-opacity: 1;
  background-color: rgb(226 226 226 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-btn-purple {
  max-height: 64px;
  cursor: pointer;
  border-radius: 9999px;
  border-style: none;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0px 5px 20px #00000024;
  --tw-shadow-colored: 0px 5px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-btn-purple:disabled {
  pointer-events: none;
  --tw-bg-opacity: 1;
  background-color: rgb(226 226 226 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-btn-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(99 24 175 / var(--tw-bg-opacity));
}

.tw-btn-purple:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(110 32 190 / var(--tw-bg-opacity));
}

.tw-btn-gold {
  max-height: 64px;
  cursor: pointer;
  border-radius: 9999px;
  border-style: none;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0px 5px 20px #00000024;
  --tw-shadow-colored: 0px 5px 20px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-btn-gold:disabled {
  pointer-events: none;
  --tw-bg-opacity: 1;
  background-color: rgb(226 226 226 / var(--tw-bg-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-btn-gold {
  --tw-bg-opacity: 1;
  background-color: rgb(255 186 0 / var(--tw-bg-opacity));
}

.tw-btn-gold:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 200 50 / var(--tw-bg-opacity));
}

.tw-modal-container {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 / 0.2);
}

@media (min-width: 960px) {
  .tw-modal-container {
    padding-left: 400px;
  }
}

.tw-user-listing-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity));
}

@media (min-width: 1440px) {
  .tw-user-listing-card {
    height: 214px;
    flex-direction: row;
  }
}

.tw-pointer-events-none {
  pointer-events: none !important;
}

.tw-fixed {
  position: fixed !important;
}

.tw-absolute {
  position: absolute !important;
}

.tw-relative {
  position: relative !important;
}

.tw-inset-0 {
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
}

.tw-top-1\/2 {
  top: 50% !important;
}

.tw-right-5 {
  right: 1.25rem !important;
}

.tw-right-4 {
  right: 1rem !important;
}

.tw-top-full {
  top: 100% !important;
}

.-tw-top-14 {
  top: -3.5rem !important;
}

.tw-top-7 {
  top: 1.75rem !important;
}

.tw-right-7 {
  right: 1.75rem !important;
}

.tw-top-16 {
  top: 4rem !important;
}

.-tw-left-20 {
  left: -5rem !important;
}

.tw-top-4 {
  top: 1rem !important;
}

.tw-left-7 {
  left: 1.75rem !important;
}

.-tw-top-16 {
  top: -4rem !important;
}

.tw-top-7 {
  top: 1.75rem !important;
}

.tw-right-7 {
  right: 1.75rem !important;
}

.tw-left-7 {
  left: 1.75rem !important;
}

.tw-z-10 {
  z-index: 10 !important;
}

.tw-z-\[99999\] {
  z-index: 99999 !important;
}

.tw-m-0 {
  margin: 0px !important;
}

.tw-my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.tw-mx-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.tw-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.tw-mx-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.tw-mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.tw-my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.-tw-mt-10 {
  margin-top: -2.5rem !important;
}

.tw-mr-4 {
  margin-right: 1rem !important;
}

.tw-ml-auto {
  margin-left: auto !important;
}

.tw-mb-4 {
  margin-bottom: 1rem !important;
}

.tw-mb-1\.5 {
  margin-bottom: 0.375rem !important;
}

.tw-mb-1 {
  margin-bottom: 0.25rem !important;
}

.tw-mb-3 {
  margin-bottom: 0.75rem !important;
}

.tw-mb-2 {
  margin-bottom: 0.5rem !important;
}

.tw-mt-1\.5 {
  margin-top: 0.375rem !important;
}

.tw-mt-1 {
  margin-top: 0.25rem !important;
}

.tw-mb-9 {
  margin-bottom: 2.25rem !important;
}

.tw-mt-\[73px\] {
  margin-top: 73px !important;
}

.tw-mt-4 {
  margin-top: 1rem !important;
}

.tw-mt-9 {
  margin-top: 2.25rem !important;
}

.tw-mr-20 {
  margin-right: 5rem !important;
}

.tw-mr-6 {
  margin-right: 1.5rem !important;
}

.tw-mb-8 {
  margin-bottom: 2rem !important;
}

.tw-ml-0 {
  margin-left: 0px !important;
}

.tw-ml-8 {
  margin-left: 2rem !important;
}

.tw-mr-10 {
  margin-right: 2.5rem !important;
}

.tw-mt-5 {
  margin-top: 1.25rem !important;
}

.tw-mt-0 {
  margin-top: 0px !important;
}

.tw-ml-9 {
  margin-left: 2.25rem !important;
}

.tw-mb-5 {
  margin-bottom: 1.25rem !important;
}

.tw-mr-9 {
  margin-right: 2.25rem !important;
}

.tw-mb-2\.5 {
  margin-bottom: 0.625rem !important;
}

.tw-ml-3 {
  margin-left: 0.75rem !important;
}

.tw-mb-10 {
  margin-bottom: 2.5rem !important;
}

.tw-mr-16 {
  margin-right: 4rem !important;
}

.tw-mb-15 {
  margin-bottom: 60px !important;
}

.tw-mt-15 {
  margin-top: 60px !important;
}

.tw-mt-7 {
  margin-top: 1.75rem !important;
}

.tw-mt-2\.5 {
  margin-top: 0.625rem !important;
}

.tw-mt-2 {
  margin-top: 0.5rem !important;
}

.tw-mt-6 {
  margin-top: 1.5rem !important;
}

.tw-box-border {
  box-sizing: border-box !important;
}

.tw-inline {
  display: inline !important;
}

.tw-flex {
  display: flex !important;
}

.tw-inline-flex {
  display: inline-flex !important;
}

.tw-grid {
  display: grid !important;
}

.tw-hidden {
  display: none !important;
}

.tw-h-screen {
  height: 100vh !important;
}

.tw-h-\[90px\] {
  height: 90px !important;
}

.tw-h-\[54px\] {
  height: 54px !important;
}

.tw-h-\[100px\] {
  height: 100px !important;
}

.tw-h-3\/4 {
  height: 75% !important;
}

.tw-h-full {
  height: 100% !important;
}

.tw-h-\[118px\] {
  height: 118px !important;
}

.tw-h-\[50px\] {
  height: 50px !important;
}

.tw-h-\[60px\] {
  height: 60px !important;
}

.tw-h-6 {
  height: 1.5rem !important;
}

.tw-h-\[122px\] {
  height: 122px !important;
}

.tw-h-\[48px\] {
  height: 48px !important;
}

.tw-h-3 {
  height: 0.75rem !important;
}

.tw-h-8 {
  height: 2rem !important;
}

.tw-h-\[25px\] {
  height: 25px !important;
}

.tw-h-5 {
  height: 1.25rem !important;
}

.tw-h-7 {
  height: 1.75rem !important;
}

.tw-h-\[276px\] {
  height: 276px !important;
}

.tw-max-h-\[40px\] {
  max-height: 40px !important;
}

.tw-max-h-\[587px\] {
  max-height: 587px !important;
}

.tw-max-h-\[95vh\] {
  max-height: 95vh !important;
}

.tw-max-h-\[494px\] {
  max-height: 494px !important;
}

.tw-max-h-\[300px\] {
  max-height: 300px !important;
}

.tw-max-h-\[80\%\] {
  max-height: 80% !important;
}

.tw-min-h-ap {
  min-height: calc(100vh - 153px - 100px) !important;
}

.tw-min-h-screen {
  min-height: 100vh !important;
}

.tw-min-h-\[287px\] {
  min-height: 287px !important;
}

.tw-w-\[90px\] {
  width: 90px !important;
}

.tw-w-full {
  width: 100% !important;
}

.tw-w-6 {
  width: 1.5rem !important;
}

.tw-w-\[100px\] {
  width: 100px !important;
}

.tw-w-4\/5 {
  width: 80% !important;
}

.tw-w-\[118px\] {
  width: 118px !important;
}

.tw-w-1 {
  width: 0.25rem !important;
}

.tw-w-14 {
  width: 3.5rem !important;
}

.tw-w-\[25px\] {
  width: 25px !important;
}

.tw-w-5 {
  width: 1.25rem !important;
}

.tw-w-\[185px\] {
  width: 185px !important;
}

.tw-w-7 {
  width: 1.75rem !important;
}

.tw-w-4\/5 {
  width: 80% !important;
}

.tw-min-w-\[260px\] {
  min-width: 260px !important;
}

.tw-min-w-\[175px\] {
  min-width: 175px !important;
}

.tw-max-w-\[260px\] {
  max-width: 260px !important;
}

.tw-max-w-\[40px\] {
  max-width: 40px !important;
}

.tw-max-w-input {
  max-width: 532px !important;
}

.tw-max-w-\[1249px\] {
  max-width: 1249px !important;
}

.tw-max-w-\[576px\] {
  max-width: 576px !important;
}

.tw-max-w-\[472px\] {
  max-width: 472px !important;
}

.tw-max-w-\[690px\] {
  max-width: 690px !important;
}

.tw-max-w-\[345px\] {
  max-width: 345px !important;
}

.tw-max-w-\[305px\] {
  max-width: 305px !important;
}

.tw-max-w-\[575px\] {
  max-width: 575px !important;
}

.tw-max-w-\[645px\] {
  max-width: 645px !important;
}

.tw-max-w-modal {
  max-width: 808px !important;
}

.tw-flex-shrink-0 {
  flex-shrink: 0 !important;
}

.tw-grow {
  flex-grow: 1 !important;
}

.-tw-translate-y-1\/2 {
  --tw-translate-y: -50% !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.tw--translate-y-1\/2 {
  --tw-translate-y: -50% !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.tw-translate-x-1\/2 {
  --tw-translate-x: 50% !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.-tw-translate-x-1\/2 {
  --tw-translate-x: -50% !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.-tw-translate-y-10 {
  --tw-translate-y: -2.5rem !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.tw-rotate-180 {
  --tw-rotate: 180deg !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.tw-rotate-90 {
  --tw-rotate: 90deg !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.-tw-rotate-90 {
  --tw-rotate: -90deg !important;
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.tw-cursor-pointer {
  cursor: pointer !important;
}

.tw-resize-none {
  resize: none !important;
}

.tw-list-none {
  list-style-type: none !important;
}

.tw-grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.tw-flex-col {
  flex-direction: column !important;
}

.tw-flex-wrap {
  flex-wrap: wrap !important;
}

.tw-content-center {
  align-content: center !important;
}

.tw-items-start {
  align-items: flex-start !important;
}

.tw-items-end {
  align-items: flex-end !important;
}

.tw-items-center {
  align-items: center !important;
}

.tw-justify-center {
  justify-content: center !important;
}

.tw-justify-between {
  justify-content: space-between !important;
}

.tw-gap-9 {
  gap: 2.25rem !important;
}

.tw-gap-5 {
  gap: 1.25rem !important;
}

.tw-gap-2\.5 {
  gap: 0.625rem !important;
}

.tw-gap-2 {
  gap: 0.5rem !important;
}

.tw-gap-4 {
  gap: 1rem !important;
}

.tw-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0 !important;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse))) !important;
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse)) !important;
}

.tw-self-end {
  align-self: flex-end !important;
}

.tw-self-center {
  align-self: center !important;
}

.tw-overflow-auto {
  overflow: auto !important;
}

.tw-overflow-hidden {
  overflow: hidden !important;
}

.tw-overflow-y-auto {
  overflow-y: auto !important;
}

.tw-text-ellipsis {
  text-overflow: ellipsis !important;
}

.tw-whitespace-nowrap {
  white-space: nowrap !important;
}

.tw-rounded-\[10px\] {
  border-radius: 10px !important;
}

.tw-rounded-md {
  border-radius: 0.375rem !important;
}

.tw-rounded {
  border-radius: 0.25rem !important;
}

.tw-rounded-full {
  border-radius: 9999px !important;
}

.tw-rounded-lg {
  border-radius: 0.5rem !important;
}

.tw-rounded-\[10px\] {
  border-radius: 10px !important;
}

.tw-rounded-t {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.tw-border {
  border-width: 1px !important;
}

.tw-border-\[0\.5px\] {
  border-width: 0.5px !important;
}

.tw-border-y-0 {
  border-top-width: 0px !important;
  border-bottom-width: 0px !important;
}

.tw-border-x-0 {
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.tw-border-b {
  border-bottom-width: 1px !important;
}

.tw-border-b-\[5px\] {
  border-bottom-width: 5px !important;
}

.tw-border-t-0 {
  border-top-width: 0px !important;
}

.tw-border-solid {
  border-style: solid !important;
}

.tw-border-none {
  border-style: none !important;
}

.tw-border-red {
  --tw-border-opacity: 1 !important;
  border-color: rgb(255 33 40 / var(--tw-border-opacity)) !important;
}

.tw-border-purple-200 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(136 64 217 / var(--tw-border-opacity)) !important;
}

.tw-border-transparent {
  border-color: transparent !important;
}

.tw-border-\[\#969696\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(150 150 150 / var(--tw-border-opacity)) !important;
}

.tw-border-gray-footer-border {
  --tw-border-opacity: 1 !important;
  border-color: rgb(112 112 112 / var(--tw-border-opacity)) !important;
}

.tw-border-purple-500 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(99 24 175 / var(--tw-border-opacity)) !important;
}

.tw-border-gray-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(107 107 108 / var(--tw-border-opacity)) !important;
}

.tw-border-y-transparent {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
}

.tw-border-b-gray-200 {
  border-bottom-color: #4D4D4D60 !important;
}

.tw-border-b-purple-100 {
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(147 73 222 / var(--tw-border-opacity)) !important;
}

.tw-bg-\[\#F4F4F54D\] {
  background-color: #F4F4F54D !important;
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.tw-bg-\[\#000000\]\/10 {
  background-color: rgb(0 0 0 / 0.1) !important;
}

.tw-bg-purple-600 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(86 15 159 / var(--tw-bg-opacity)) !important;
}

.tw-bg-purple-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(99 24 175 / var(--tw-bg-opacity)) !important;
}

.tw-bg-transparent {
  background-color: transparent !important;
}

.tw-bg-\[\#F4F4F5\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(244 244 245 / var(--tw-bg-opacity)) !important;
}

.tw-bg-gray-400 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(107 107 108 / var(--tw-bg-opacity)) !important;
}

.tw-bg-\[\#FBFBFBF4\] {
  background-color: #FBFBFBF4 !important;
}

.tw-bg-\[\#A54BC033\] {
  background-color: #A54BC033 !important;
}

.tw-bg-\[\#FFBA0030\] {
  background-color: #FFBA0030 !important;
}

.tw-bg-gold-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 186 0 / var(--tw-bg-opacity)) !important;
}

.tw-bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.tw-bg-login-clouds {
  background-image: url(../img/mktfy/background_begin.svg) !important;
}

.tw-bg-cover {
  background-size: cover !important;
}

.tw-bg-no-repeat {
  background-repeat: no-repeat !important;
}

.tw-fill-gray-300 {
  fill: #0000007E !important;
}

.tw-fill-purple-400 {
  fill: #6E20BE !important;
}

.tw-fill-white {
  fill: #FFFFFF !important;
}

.tw-fill-red {
  fill: #FF2128 !important;
}

.tw-stroke-\[\#6B6B6C\] {
  stroke: #6B6B6C !important;
}

.tw-stroke-purple-100 {
  stroke: #9349DE !important;
}

.tw-stroke-white {
  stroke: #FFFFFF !important;
}

.tw-object-cover {
  object-fit: cover !important;
}

.tw-p-3 {
  padding: 0.75rem !important;
}

.tw-p-0 {
  padding: 0px !important;
}

.tw-p-\[16px\] {
  padding: 16px !important;
}

.tw-p-5 {
  padding: 1.25rem !important;
}

.tw-p-9 {
  padding: 2.25rem !important;
}

.tw-p-6 {
  padding: 1.5rem !important;
}

.tw-p-8 {
  padding: 2rem !important;
}

.tw-py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.tw-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.tw-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.tw-py-10 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.tw-py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.tw-py-2\.5 {
  padding-top: 0.625rem !important;
  padding-bottom: 0.625rem !important;
}

.tw-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.tw-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.tw-py-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.tw-px-15 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

.tw-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.tw-px-1\.5 {
  padding-left: 0.375rem !important;
  padding-right: 0.375rem !important;
}

.tw-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.tw-py-0\.5 {
  padding-top: 0.125rem !important;
  padding-bottom: 0.125rem !important;
}

.tw-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.tw-py-9 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.tw-px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tw-py-15 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.tw-px-9 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}

.tw-py-15 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.tw-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.tw-pt-20 {
  padding-top: 5rem !important;
}

.tw-pl-36 {
  padding-left: 9rem !important;
}

.tw-pt-\[13px\] {
  padding-top: 13px !important;
}

.tw-pr-4 {
  padding-right: 1rem !important;
}

.tw-pt-12 {
  padding-top: 3rem !important;
}

.tw-pl-0 {
  padding-left: 0px !important;
}

.tw-pb-14 {
  padding-bottom: 3.5rem !important;
}

.tw-pl-16 {
  padding-left: 4rem !important;
}

.tw-pr-14 {
  padding-right: 3.5rem !important;
}

.tw-pl-\[70px\] {
  padding-left: 70px !important;
}

.tw-pr-\[75px\] {
  padding-right: 75px !important;
}

.tw-pt-28 {
  padding-top: 7rem !important;
}

.tw-pb-6 {
  padding-bottom: 1.5rem !important;
}

.tw-pl-5 {
  padding-left: 1.25rem !important;
}

.tw-pt-1 {
  padding-top: 0.25rem !important;
}

.tw-pr-7 {
  padding-right: 1.75rem !important;
}

.tw-pt-10 {
  padding-top: 2.5rem !important;
}

.tw-pb-0 {
  padding-bottom: 0px !important;
}

.tw-pl-9 {
  padding-left: 2.25rem !important;
}

.tw-pb-8 {
  padding-bottom: 2rem !important;
}

.tw-pl-8 {
  padding-left: 2rem !important;
}

.tw-pb-\[53px\] {
  padding-bottom: 53px !important;
}

.tw-pr-15 {
  padding-right: 60px !important;
}

.tw-pt-\[65px\] {
  padding-top: 65px !important;
}

.tw-pb-15 {
  padding-bottom: 60px !important;
}

.tw-pl-2 {
  padding-left: 0.5rem !important;
}

.tw-pr-6 {
  padding-right: 1.5rem !important;
}

.tw-pt-7 {
  padding-top: 1.75rem !important;
}

.tw-pt-0 {
  padding-top: 0px !important;
}

.tw-pr-10 {
  padding-right: 2.5rem !important;
}

.tw-pr-0 {
  padding-right: 0px !important;
}

.tw-pt-8 {
  padding-top: 2rem !important;
}

.tw-text-left {
  text-align: left !important;
}

.tw-text-center {
  text-align: center !important;
}

.tw-text-start {
  text-align: start !important;
}

.tw-font-\[Verdana\] {
  font-family: Verdana !important;
}

.tw-font-mktfy {
  font-family: Open Sans, sans-serif !important;
}

.tw-text-base-lg {
  font-size: 1.5rem !important;
}

.tw-text-\[45px\] {
  font-size: 45px !important;
}

.tw-text-\[21px\] {
  font-size: 21px !important;
}

.tw-text-base {
  font-size: 1.25rem !important;
}

.tw-text-xs {
  font-size: 0.875rem !important;
}

.tw-text-sm-16 {
  font-size: 1rem !important;
}

.tw-text-\[22px\] {
  font-size: 22px !important;
}

.tw-text-\[4rem\] {
  font-size: 4rem !important;
}

.tw-text-xl {
  font-size: 2.625rem !important;
}

.tw-text-\[30px\] {
  font-size: 30px !important;
}

.tw-text-\[18px\] {
  font-size: 18px !important;
}

.tw-text-\[28px\] {
  font-size: 28px !important;
}

.tw-text-lg {
  font-size: 2.5rem !important;
}

.tw-text-\[32px\] {
  font-size: 32px !important;
}

.tw-font-light {
  font-weight: 300 !important;
}

.tw-font-bold {
  font-weight: 700 !important;
}

.tw-font-semibold {
  font-weight: 600 !important;
}

.tw-font-normal {
  font-weight: 400 !important;
}

.tw-uppercase {
  text-transform: uppercase !important;
}

.tw-capitalize {
  text-transform: capitalize !important;
}

.tw-leading-7 {
  line-height: 1.75rem !important;
}

.tw-text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(67 67 68 / var(--tw-text-opacity)) !important;
}

.tw-text-\[\#313131\] {
  --tw-text-opacity: 1 !important;
  color: rgb(49 49 49 / var(--tw-text-opacity)) !important;
}

.tw-text-red {
  --tw-text-opacity: 1 !important;
  color: rgb(255 33 40 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(77 77 77 / var(--tw-text-opacity)) !important;
}

.tw-text-transparent {
  color: transparent !important;
}

.tw-text-gray-300 {
  color: #0000007E !important;
}

.tw-text-purple-100 {
  --tw-text-opacity: 1 !important;
  color: rgb(147 73 222 / var(--tw-text-opacity)) !important;
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 107 108 / var(--tw-text-opacity)) !important;
}

.tw-text-\[\#969696\] {
  --tw-text-opacity: 1 !important;
  color: rgb(150 150 150 / var(--tw-text-opacity)) !important;
}

.tw-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-footer-border {
  --tw-text-opacity: 1 !important;
  color: rgb(112 112 112 / var(--tw-text-opacity)) !important;
}

.tw-text-purple-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(110 32 190 / var(--tw-text-opacity)) !important;
}

.tw-text-\[\#5B2BAE\] {
  --tw-text-opacity: 1 !important;
  color: rgb(91 43 174 / var(--tw-text-opacity)) !important;
}

.tw-text-purple-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(99 24 175 / var(--tw-text-opacity)) !important;
}

.tw-text-gold-200 {
  --tw-text-opacity: 1 !important;
  color: rgb(255 186 0 / var(--tw-text-opacity)) !important;
}

.tw-text-green {
  --tw-text-opacity: 1 !important;
  color: rgb(108 192 75 / var(--tw-text-opacity)) !important;
}

.tw-text-purple-200 {
  --tw-text-opacity: 1 !important;
  color: rgb(136 64 217 / var(--tw-text-opacity)) !important;
}

.tw-underline {
  -webkit-text-decoration-line: underline !important;
          text-decoration-line: underline !important;
}

.tw-shadow-\[0px_9px_20px_\#00000024\] {
  --tw-shadow: 0px 9px 20px #00000024 !important;
  --tw-shadow-colored: 0px 9px 20px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-shadow-navbar {
  --tw-shadow: 0px 3px 6px #00000029 !important;
  --tw-shadow-colored: 0px 3px 6px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-shadow-card-header {
  --tw-shadow: 0px 6px 20px #00000024 !important;
  --tw-shadow-colored: 0px 6px 20px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-shadow-none {
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-shadow-btn {
  --tw-shadow: 0px 5px 20px #00000024 !important;
  --tw-shadow-colored: 0px 5px 20px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-shadow-\[0px_1px_0px_\#00000024\] {
  --tw-shadow: 0px 1px 0px #00000024 !important;
  --tw-shadow-colored: 0px 1px 0px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-shadow-modal {
  --tw-shadow: 0px 7px 12px #00000024 !important;
  --tw-shadow-colored: 0px 7px 12px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.tw-duration-200 {
  transition-duration: 200ms !important;
}

.placeholder\:tw-font-mktfy::-webkit-input-placeholder {
  font-family: Open Sans, sans-serif !important;
}

.placeholder\:tw-font-mktfy::placeholder {
  font-family: Open Sans, sans-serif !important;
}

.first\:tw-pt-0:first-child {
  padding-top: 0px !important;
}

.odd\:tw-border-b:nth-child(odd) {
  border-bottom-width: 1px !important;
}

.odd\:tw-border-solid:nth-child(odd) {
  border-style: solid !important;
}

.odd\:tw-border-transparent:nth-child(odd) {
  border-color: transparent !important;
}

.odd\:tw-border-b-gray-100:nth-child(odd) {
  --tw-border-opacity: 1 !important;
  border-bottom-color: rgb(226 226 226 / var(--tw-border-opacity)) !important;
}

.even\:tw-bg-beige-200:nth-child(even) {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important;
}

@media (min-width: 470px) {
  .xsm\:tw-ml-auto {
    margin-left: auto !important;
  }

  .xsm\:tw-flex-row {
    flex-direction: row !important;
  }

  .xsm\:tw-py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 960px) {
  .md\:tw-static {
    position: static !important;
  }

  .md\:tw-ml-8 {
    margin-left: 2rem !important;
  }

  .md\:tw-block {
    display: block !important;
  }

  .md\:tw-flex-row {
    flex-direction: row !important;
  }

  .md\:tw-border-l {
    border-left-width: 1px !important;
  }

  .md\:tw-bg-beige-200 {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(247 247 247 / var(--tw-bg-opacity)) !important;
  }

  .md\:tw-pr-1\.5 {
    padding-right: 0.375rem !important;
  }

  .md\:tw-pl-8 {
    padding-left: 2rem !important;
  }

  .md\:tw-pr-1 {
    padding-right: 0.25rem !important;
  }

  .md\:tw-text-\[28px\] {
    font-size: 28px !important;
  }
}

@media (min-width: 1440px) {
  .lg\:tw-mr-\[71px\] {
    margin-right: 71px !important;
  }

  .lg\:tw-mr-24 {
    margin-right: 6rem !important;
  }

  .lg\:tw-mr-44 {
    margin-right: 11rem !important;
  }

  .lg\:tw-w-1\/2 {
    width: 50% !important;
  }

  .lg\:tw-w-\[350px\] {
    width: 350px !important;
  }

  .lg\:tw-min-w-\[345px\] {
    min-width: 345px !important;
  }

  .lg\:tw-min-w-\[305px\] {
    min-width: 305px !important;
  }

  .lg\:tw-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .lg\:tw-justify-between {
    justify-content: space-between !important;
  }

  .lg\:tw-space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0 !important;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse))) !important;
    margin-bottom: calc(0px * var(--tw-space-y-reverse)) !important;
  }
}

@media (min-width: 1800px) {
  .xl\:tw-w-full {
    width: 100% !important;
  }
}
